--extra-index-url https://download.pytorch.org/whl/cu121

torch==2.5.1+cu121
torchaudio==2.5.1+cu121
openai-whisper
faster_whisper
edge-tts
pysrt
librosa
soundfile
numpy
fastapi
uvicorn
pydantic
requests
tqdm
google.generativeai
google.api_core
openai
deep_translator
yt-dlp