torch==2.2.0
torchaudio==2.2.0
pyannote.audio==3.1.1

openai-whisper==20231117
edge-tts==6.1.10
pysrt==1.1.2
librosa==0.10.1
soundfile==0.12.1
numpy==1.26.4

fastapi==0.109.0
uvicorn==0.27.0
pydantic==2.5.0

requests
tqdm

